*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header nav{
    overflow: hidden;
    top: 0;
    background-color: #f1f3f6;
    padding: 10px 20px 10px 20px;
}

.logo{
    float: left;
}


header nav .elements a{
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 6px 20px 0px 0px;
    padding: 13px 20px 15px 20px;
    border: 2px solid #1c3d7a;
    border-radius: 30px;
    color: #1c3d7a;
    background-color: #f1f3f6;
}

.elements a:hover{
    background-color: #1c3d7a;
    color: white;
    border: 2px solid #1c3d7a;
    transition: 0.25s;
}

header .elements{
    margin-top: 20px;
    float: right;
    margin-right: 40px;
}

.other-content{
    margin: 0;
    padding: 0;
    text-align: center;
    color: steelblue;
    background-color: #e6eefb;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container .slider{
    position: absolute;
    background: #ccc;
    inset: 200px 200px 80px 80px;
    border-radius: 20px;
}

.container .slider .slides{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 240px;
    height: 320px;
    background: var(--img);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
}

.slider .slides:nth-child(1),
.slider .slides:nth-child(2)
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
    background-size: cover;

}

.slider .slides:nth-child(3)
{
    left: calc(50% + 400px);
    background-size: cover;
} 

.slider .slides:nth-child(4)
{
    left: calc(50% + 460px);
    background-size: cover;
} 

.slider .slides:nth-child(5)
{
    left: calc(50% + 510px);
    background-size: cover;
} 

.slider .slides:nth-child(6)
{
    left: calc(50% + 550px);
    background-size: cover;
    opacity: 0;
} 


.buttons{
    position: absolute;
    bottom: 15px;
    display: flex;
    gap: 30px;
}

.buttons span{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #1c3d7a;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.buttons span::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-top: 4px solid white;
    border-left: 4px solid white;
    transform: rotate(315deg) translate(2px , 2px);
}

.buttons span:nth-child(2)::before{
    transform: rotate(135deg) translate(2px,2px);
}

.buttons span:active{
    opacity: 0.5;
}


.content{
    position: relative;
    padding: 40px;
    max-width: 600px;
    transition: 0.25s;
    transition-delay: 0s;
    transform: translateY(0);
    z-index: 1000;
    opacity: 0;
}

.content h2{
    font-size: 3em;
    color: #1c3d7a;
    text-shadow: #1c3d7a;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.content p{
    background-color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 30px;
    color: #1c3d7a;
    text-shadow: #1c3d7a;
}

.slider .slides:nth-child(1) .content,
.slider .slides:nth-child(2) .content{
    opacity: 1;
    transform: translateY(200px);
    transform: translateX(-50%);
    transition-delay: 0.5s;
}

.hidden-content{
    height: 80vh;
}


.lower-content{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    border: 1px solid gray;
}

.lower-content .left-content{
    height: 100%;
    width: 50%;
    background-image: url(images/bg1.jpg);
    background-position: center;
    background-size: cover;
    border-top-left-radius: 10px;
    padding: 30px;
    border-bottom-left-radius: 10px;
    box-sizing: border-box;
}

.lower-content .right-content{
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    background: linear-gradient(to right, #304262 , #1c3d7a , #304262);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.lower-content .right-content video{
    border-radius: 20px;
}


.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1c3d7a;
    padding: 40px 40px 20px 40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin: 30px 30px 0px 30px;
}


.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 12px);
    gap: 16px;
    overflow: hidden;
}


.carousel :where(.card , .img){
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel .card{
    list-style: none;
    background: white;
    border-radius: 15px;
    height: 342px;
    cursor: pointer;
    display: flex;
    padding-bottom: 15px;
    width: 300px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.25s;
}

.card .img{
    background: #304262;
    width: 148px;
    height: 148px;
    border-radius: 50%;
}

.card .img img{
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid white;
}

.card h2{
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.card span{
    color: grey;
    font-size: 1.31rem;
}



.wrapper1{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1c3d7a;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin: 0px 30px 30px 30px;
    padding: 20px 40px 40px 40px;
}


.wrapper1 .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 12px);
    gap: 16px;
    overflow: hidden;
}

footer{
    height: 50vh;
}

footer .wrapper-footer{
    height: 100%;
    padding: 20px;
    display: flex;
    background: rgb(213, 226, 237);
}

footer .wrapper-footer .left-wrapper-content{
    width: 50%;
    height: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

footer .wrapper-footer .right-wrapper-content{
    width: 50%;
    height: 100%;
}

.logo-footer{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.icon-content{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.icon-content img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.center-wrapper-content{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.center-wrapper-content h2{
    margin-bottom: 20px;
}

.right-wrapper-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}